#header-landing{"data-magellan-destination" => "home"}
  .fixed.sticky
    %nav.top-bar{"data-topbar" => true}
      .top-bar-section
        %ul.title-area
          %li.name
            %h1
              %a{:href => "index.html"}
                %i.fa.fa-bullseye
                = link_to "Reed's Portfolio", root_path
          %li.toggle-topbar.menu-icon
            %a{:href => "#"}
        = render 'layouts/navigation_links'
