
%ul.right.scroll-nav
  %li.active{"data-magellan-arrival" => "home"}
    =link_to 'Home', root_path
  %li{"data-magellan-arrival" => "services"}
    =link_to 'Blog', articles_path
  %li{"data-magellan-arrival" => "portfolio"}
    =link_to 'Projects', projects_path
  %li{"data-magellan-arrival" => "team"}
    =link_to 'Log In', login_path
    - if user_signed_in?
      %li{"data-magellan-arrival" => "contact"}
        =link_to 'Log out', logout_path
    - else
      %li{"data-magellan-arrival" => "contact"}
        =link_to 'Sign Up', signup_path
